@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font -- Degular */
@font-face {
	font-family: "Degular";
	src: url("../assets/fonts/Degular/DegularDemo-Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Degular";
	src: url("../assets/fonts/Degular/DegularDemo-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Degular";
	src: url("../assets/fonts/Degular/DegularDemo-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Degular";
	src: url("../assets/fonts/Degular/DegularDemo-Semibold.otf")
		format("opentype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Degular";
	src: url("../assets/fonts/Degular/DegularDemo-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: "Degular";
	font-weight: 400;
	color: #56616b;
}

.header-ring {
	box-shadow: 0px 2px 4px 0px rgba(45, 59, 67, 0.05),
		0px 2px 6px 0px rgba(45, 59, 67, 0.06);
}
.side-ring {
	box-shadow: 0px 6px 12px 0px rgba(92, 115, 131, 0.08),
		0px 4px 8px 0px rgba(92, 115, 131, 0.08);
	top: calc(50% - 96px);
	background-color: #ffffff;
}

.contentWrap {
	min-height: calc(100vh - 82px);
	padding-top: calc(82px + 64px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	color: #131316;
}

h1 {
	font-size: 72px;
	line-height: 80px;
}

h2 {
	font-size: 28px;
	font-style: normal;
	line-height: 38px; /* 135.714% */
	letter-spacing: -0.6px;
}

h3 {
	font-size: 24px;
	font-style: normal;
	line-height: 32px; /* 133.333% */
	letter-spacing: -0.6px;
}

.popUp {
	box-shadow: 0px 8px 16px 4px rgba(188, 196, 204, 0.1),
		0px 12px 24px 0px rgba(219, 222, 229, 0.1),
		0px 16px 32px 0px rgba(219, 222, 229, 0.1);
	backdrop-filter: blur(8px);
	border-radius: 20px;
	background: #ffffff;

	position: absolute;
	top: calc(100% + 1.5rem);
	right: 0;
}

.modal {
	background-color: rgba(255, 255, 255, 0.7);
}

.modalContentWrap {
	width: 480px;
	border-radius: 20px;
	background: white;

	/* Thick Shadow */
	box-shadow: 0px 8px 16px 4px rgba(188, 196, 204, 0.1),
		0px 12px 24px 0px rgba(219, 222, 229, 0.1),
		0px 16px 32px 0px rgba(219, 222, 229, 0.1);
	backdrop-filter: blur(8px);
}

input[type="checkbox"] {
	/* // round the corners and make it orange when selected */
	appearance: none;
	border: 1px solid #e7ecf3;
	border-radius: 2px;
	width: 20px;
	height: 20px;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
	margin: 0;
	padding: 0;
	position: relative;
	outline: none;
	background-color: #fff;
}

input[type="checkbox"]:checked {
	background-color: #1c1b1f;
	border-color: #1c1b1f;
}

input[type="checkbox"]:checked:after {
	content: "";
	position: absolute;
	left: 0.38rem;
	top: 0.09rem;
	width: 0.35rem;
	height: 0.7rem;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

input[type="checkbox"]:focus {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
